<!--

<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h2 style="color: #b9b9b9;">Entra en tu cuenta ahora</h2>
            <img width="77px" src="../../assets/icon-logo.png" alt="">
          </div>
          
          <div padding>
            <ion-item>
              <ion-input name="email" type="email" placeholder="tuEmail@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="contraseña" type="password" placeholder="Contraseña" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <button style="    background-color: #9c689c; width: 100%; height: 44px; border-radius: 10px; font-size: large;color: whitesmoke;" size="large" type="submit" [disabled]="form.invalid" expand="block">Entrar</button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
-->






<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="/">

			</ion-back-button>
		</ion-buttons>
		<ion-title>Inicia sesión</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div class="" align="center">


		<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-lg-7 panel-login" style="" >
			<img src="../../assets/icon-logo.png" alt="" style="margin-top: 20px; width:250px;">
			<hr>
			<br>

<!--
			<div class="alert alert-success" *ngIf="status == 'success'">
				¡Bienvenido {{identity.name}} {{identity.surname}}!
			</div>
			<div class="alert alert-danger" *ngIf="status == 'error'">No te has identificado correctamente</div>
-->

			<p  style="margin-bottom: 40px;">
				<label>Correo electrónico</label>
				<ion-input style="width: 260px;" placeholder="ejemplo@email.com" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" autocomplete="off" required></ion-input>
				<!--<span *ngIf="!email.valid && email.touched">El email es obligatorio</span>-->

			</p>
			<p  style="margin-bottom: 40px;">
				<label>Contraseña</label>
				<ion-input style="width: 260px;" placeholder="contraseña" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required></ion-input>
				<!--<span *ngIf="!password.valid && password.touched">El password es obligatoria</span>-->
			</p>
			<!--<input style="margin-bottom: 20px;" type="submit" value="Entrar" class="btn btn-success" [disabled]="!loginForm.form.valid" />-->


			<div class="example-button-row">

				<button style="    margin-bottom: 20px; background-color: rgba(68, 127, 177, 0.75); padding: 10px 35px 10px 35px; border-radius: 10px; color: aliceblue;" type="submit" value="Entrar" mat-raised-button color="accent" [disabled]="!loginForm.form.valid">Entrar</button>

			</div>

			<a href="">¿Olvidaste tu Contraseña?</a>

		</form>
	</div>

</ion-content>