<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
			<ion-back-button defaultHref="/">

      </ion-back-button>
      <ion-menu-button></ion-menu-button>
		</ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <h2>Fora Ride</h2>
  <h4>Version 1.0</h4>
  <img src="../../assets/icon-logo.png" alt="" style="margin-top: 20px; width:100px;">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, accusamus recusandae 
    similique sunt temporibus, iste, illo debitis enim sapiente dolorum distinctio dolor! Qui 
    veritatis, adipisci unde tenetur animi architecto accusamus.
  Fugiat sint aliquid reprehenderit rem debitis, porro natus cumque ipsum quisquam dolore quis 
  cum recusandae rerum necessitatibus commodi! Exercitationem at blanditiis a numquam veritatis 
  cum voluptatibus quas deleniti eius id!
  </p>
</ion-content>
