<!-- 
<ion-header>
  <ion-toolbar>
    <ion-title>Registrate ahora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <form #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h2 style="color: #b9b9b9;">Crea tu cuenta ahora</h2>
              <img width="77px" src="../../assets/icon-logo.png" alt="">
            </div>

            <div padding>
              <ion-item>
                <ion-input name="nombre" type="text" placeholder="Nombre" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="tuEmail@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="contraseña" type="password" placeholder="Contraseña" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirma contraseña" type="password" placeholder="Confirma contraseña" ngModel
                  required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <button
                style="    background-color: #9c689c; width: 100%; height: 44px; border-radius: 10px; font-size: large;color: whitesmoke;"
                size="large" type="submit" [disabled]="form.invalid" expand="block">Registrar</button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>




//////////////////////////////////////////////////////7-->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">

      </ion-back-button>
    </ion-buttons>
    <ion-title>Crea tu cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form align="center" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-lg-10" class="panel-login">
    <img src="../../assets/icon-logo.png" alt="" style="margin-top: 20px; width:200px;">
    <hr>


    <div class="alert alert-danger" *ngIf="status == 'Error'">No te has registrado correctamente</div>



    <div class="row">
      <div class="col-12">
        <p align="left" style="margin-bottom: 20px;">
          <label>Nombre</label>
          <input style="width: 100%; min-width:260px;" placeholder="Ingresa tu nombre" type="text" name="name"
            #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
          <span *ngIf="!name.valid && name.touched">El nombre es obligatorio</span>
        </p>
        <p align="left" style="margin-bottom: 20px;">
          <label>Apellidos</label>
          <input style="width: 100%; min-width:260px;" placeholder="Ingresa tu apellido" type="text" name="surname"
            #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
          <span *ngIf="!surname.valid && surname.touched">Los apellidos son obligatorio</span>
        </p>

        <p align="left" style="margin-bottom: 20px;">
          <label>Correo electrónico</label>
          <input style="width: 100%; min-width:260px;" placeholder="ejemplo@email.com" type="email" name="email"
            #email="ngModel" [(ngModel)]="user.email" class="form-control" required>
          <!--<span *ngIf="!email.valid && email.touched">El email es obligatorio</span>-->

        </p>


        <p align="left" style="margin-bottom: 20px;">
          <label>Contraseña</label>
          <input style="width: 100%; min-width:260px;" placeholder="contraseña" type="password" name="password"
            #password="ngModel" [(ngModel)]="user.password" class="form-control" required>
          <span *ngIf="!password.valid && password.touched">El password es obligatoria</span>
        </p>
       
      </div>
    </div>










    <div class="example-button-row">

      <!--                 <ion-button style="margin-bottom: 20px; background-color:rgba(68, 127, 177, 0.75); padding: 5px 45px 5px 45px;" type="submit" value="Entrar" mat-raised-button color="accent" [disabled]="!registerForm.form.valid">Registrar</ion-button>-->

      <button
        style="    margin-bottom: 20px; background-color: rgba(68, 127, 177, 0.75); padding: 10px 35px 10px 35px; border-radius: 10px; color: aliceblue;"
        type="submit" value="Entrar" mat-raised-button color="accent"
        [disabled]="!registerForm.form.valid">Registrar</button>

    </div>

  </form>

  <!--
  <div class="alert alert-success" *ngIf="status == 'success'">
        Registro completado correctamente,<a [routerLink]="['/login']">identificate aquí</a>
  </div>
-->
</ion-content>