
<div class="row">

  <h1 align="left" style="font-family: sans-serif;
      font-size: xx-large;
      color: #929292;
      text-align: -webkit-left;
      margin-bottom: 30px;
      margin-top: 50px;">Nuevo viaje</h1>
    <div class="col-lg-12">
  
  
      <!--MENSAJES DE EXITO O ERROR, Y DA LA OPCIÓN PARA CERRARLO-->
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status == 'success'">
        El viaje ha sido publicado con exito.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status == 'error'">
        El viaje no pudo ser publicado.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <form #addViajeForm="ngForm" (ngSubmit)="onSubmit(addViajeForm)" class="col-lg-12">
  
        <div align="left" class="row">
            <div class="col-8">
              <p>               
                <ion-input placeholder="Ingresa la calle" name="calle"  #calle="ngModel" [(ngModel)]="viajeNuevo.calle" clearInput required></ion-input>
                <span *ngIf="!calle.valid && calle.touched">La calle es obligatoria</span>
              </p>
            </div>
            
          </div>

          <div align="left" class="row">
              <div class="col-8">
                <p>
                  <ion-input type="number" placeholder="Ingresa el numero de casa" name="numero"  #numero="ngModel" [(ngModel)]="viajeNuevo.numero" clearInput required></ion-input>
                  <span *ngIf="!numero.valid && numero.touched">El numero es obligatorio</span>
                </p>
              </div>
              
            </div>

            <div align="left" class="row">
                <div class="col-8">
                  <p>
                    <ion-input placeholder="Ingresa la colonia" name="colonia"  #colonia="ngModel" [(ngModel)]="viajeNuevo.colonia" clearInput required></ion-input>
                    <span *ngIf="!colonia.valid && colonia.touched">El destino es obligatorio</span>
                  </p>
                </div>
                
              </div>
  


        
  
        <input  style="background-color: #28a745; text-transform: uppercase; font-size: 14px; font-weight: 600; border-color: #28a745; width: -webkit-fill-available; text-align: center; border-radius: 5px; padding: 11px !important;" type="submit" value="Publicar viaje" class="btn btn-success" [disabled]="!addViajeForm.form.valid" />
      
  
      </form>
    </div>

    <div>

      
        <ion-list>
            <ion-item *ngFor="let viaje of viajes">
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">
                    <h1>Status</h1>
                    <h4>{{viaje.status}}</h4>
                    <h1>Origen</h1>
                    <h4 id="">Calle: {{viaje.direccionO.calle}}</h4>
                    <h4 id="">Numero: {{viaje.direccionO.numero}}</h4>
                    <h4 id="">Colonia: {{viaje.direccionO.colonia}}</h4>
                    <h1>Chofer</h1>
                    <h4>Nombre: {{viaje.choferId.name}}</h4>
                    <h4>Apellido: {{viaje.choferId.surname}}</h4>
                    
                  </ion-label>
              
            </ion-item>        
          </ion-list>
    </div>
  </div>